#!/bin/bash
# vim:filetype=sh

if [ "${IS_AUTOINSTALL:-false}" != "true" ] || [ "${PKGINSTALL}" == "" ]; then
    exit 0
fi

if [ "${CHEZMOI_OS_RELEASE_ID}" != "arch" ]; then
    # ToDo: Support other distributions
    exit 0
fi

pkgs=()
is_virtual="false"
# common
pkgs+=(lsof rsync tmux whois tcpdump traceroute imagemagick wget dnsutils nmap linux-headers linux-docs nfs-utils strace gdb perf mlocate cronie sysstat crash unzip ethtool pacman-contrib)
pkgs+=(bash-completion cpio dmidecode man-db man-pages usbutils iperf3 screen global)
pkgs+=(pass pwgen cowsay dateutils moreutils iftop rpm-tools bc)
pkgs+=(git go)
pkgs+=(apparmor)
pkgs+=(openssh)
pkgs+=(ipmitool)
pkgs+=(libnewt) # whiptail
# shell
pkgs+=(mosh)
pkgs+=(zsh)
pkgs+=(jq)
pkgs+=(fzf lsd bat ripgrep)
pkgs+=(github-cli difftastic)
# shell tools
pkgs+=(deno) # Require yuki-yano/zeno.zsh
pkgs+=(npm)  # Require vimls language server
pkgs+=(ranger ffmpegthumbnailer)
pkgs+=(wireshark-cli)
pkgs+=(busybox)
pkgs+=(hugo)
pkgs+=(ansible ansible-lint)
# editor
pkgs+=(neovim shellcheck shfmt)
# mail
pkgs+=(isync getmail6 neomutt notmuch procmail lynx)
# docker
pkgs+=(docker docker-compose)
# package management
pkgs+=(porg)
if [ "$IS_WSL" == "true" ]; then
    # WSL
    pkgs+=(wsl-open)
fi
if [ "$IS_WSL" == "false" ]; then
    # filesystem
    pkgs+=(snapper snap-pac snapper-gui-git)
fi
if [ "$IS_WSL" == "true" ] || [ "${ROLE}" == "desktop" ]; then
    pkgs+=(xorg-xrdb xclip xorg-xeyes)
    pkgs+=(xterm rxvt-unicode urxvt-resize-font-git urxvt-tabbedex alacritty wezterm)
    pkgs+=(feh)
    pkgs+=(ibus ibus-skk skk-jisyo)
    pkgs+=(freerdp remmina)
    pkgs+=(wireshark-qt)
    pkgs+=(otf-ipafont otf-ipaexfont otf-ipamjfont ttf-dejavu ttf-sazanami ttf-hanazono xorg-mkfontscale noto-fonts-emoji)
    pkgs+=(libvirt virt-manager bridge-utils guestfs-tools)
    pkgs+=(sxiv mpv gimp)
    pkgs+=(firefox firefox-i18n-ja)
fi
if [ "${ROLE}" == "desktop" ]; then
    pkgs+=(xorg-server xorg-xinit xorg-xwininfo xorg-xrandr autorandr arandr xautolock)
    pkgs+=(i3-wm i3lock rofi papirus-icon-theme network-manager-applet feh dunst polybar siji-ng)
    pkgs+=(yt-dlp)
    pkgs+=(mpd mpc playerctl)
    pkgs+=(ffmpeg)
    pkgs+=(profile-sync-daemon)
    pkgs+=(qemu-full)
    pkgs+=(pipewire pipewire-media-session pipewire-pulse pavucontrol)
    pkgs+=(bitwarden)
    if [ "${IS_WORK}" == "false" ]; then
        # vpn
        pkgs+=(networkmanager-openvpn openvpn openresolv wireguard-tools)
        # Nextcloud
        pkgs+=(nextcloud-client gnome-keyring libsecret)
    fi
else
    if [ "$IS_WSL" == "true" ]; then
        pkgs+=(qemu-full)
    else
        pkgs+=(qemu-base)
    fi
fi
if [ "${IS_BITWARDEN:-false}" == "true" ]; then
    pkgs+=(bitwarden-cli)
fi

if [ "$IS_WSL" == "true" ]; then
    is_virtual="true"
else
    $PKGINSTALL dmidecode
    baseboard=$(sudo dmidecode --string=baseboard-product-name)
    if [ "$baseboard" == "KVM" ] || [ "$baseboard" == "Virtual Machine" ] || [ "$baseboard" == "VMware Virtual Platform" ] || [ "$baseboard" == "Xen" ]; then
        is_virtual="true"
    fi
fi

if [ "$baseboard" == "PRIME H570-PLUS" ]; then
    pkgs+=(mesa intel-gpu-tools intel-media-driver libva-utils)
elif [ "$baseboard" == "20BTCTO1WW" ]; then
    pkgs+=(mesa intel-gpu-tools intel-media-driver libva-utils)
    pkgs+=(xf86-input-libinput xorg-xbacklight fprintd light xbindkeys)
    pkgs+=(acpi acpi_call tlp)
fi

if [ "$is_virtual" == "false" ]; then
    pkgs+=(redshift nvme-cli ddcutil lm_sensors)
    if [ "$(sudo dmidecode --string=processor-manufacturer)" == "Intel(R) Corporation" ]; then
        pkgs+=(intel-ucode)
    fi
fi

$PKGINSTALL "${pkgs[@]}"
