{{ if eq .role "desktop" -}}
#!/bin/bash

{{ if .is_syncthing -}}
test -e ${HOME}/.config/espanso/match || ln -s ${HOME}/Sync/espanso/match ${HOME}/.config/espanso/match
{{ end -}}
systemctl --user cat espanso.service || ~/.local/bin/espanso service register
~/.local/bin/espanso start || :
{{- end }}
