{{ $email := "yoshihisa.yamano@gmail.com" -}}
{{ $name := "Yoshihisa Yamano" -}}
{{ $role := "terminal" -}}
{{ $git_gpgsign := "" -}}
{{ $atuin := "" -}}
{{ $ssh_gpgkey := "" -}}
{{ $is_work := false -}}
{{ $work_github_url := "" -}}
{{ $work_github_username := "" -}}
{{ $is_autoinstall := false -}}
{{ $is_syncthing := false -}}
{{ $is_pass := true -}}
{{ $is_bitwarden := false -}}
{{ $is_syncmaildir := false -}}
{{ $pkginstall := "" -}}
{{ $is_wsl := false -}}

{{ if stdinIsATTY -}}
{{   $email = promptStringOnce . "email" "Your email address" "yoshihisa.yamano@gmail.com" -}}
{{   $name = promptStringOnce . "name" "Your name (git name)" "Yoshihisa Yamano" -}}
{{   $is_wsl = promptBoolOnce . "is_wsl" "Is WSL" false -}}
{{   if (and (not $is_wsl) (eq .chezmoi.os "linux")) -}}
{{     $role = promptStringOnce . "role" "Machine role [desktop|terminal]" "terminal" -}}
{{   end -}}
{{   $git_gpgsign = promptStringOnce . "git_gpgsign" "Git gpg key" -}}
{{   $atuin = promptStringOnce . "atuin" "atuin server" -}}
{{   $ssh_gpgkey = promptStringOnce . "ssh_gpgkey" "SSH gpg key" -}}
{{   $is_work = promptBoolOnce . "is_work" "Work machine" false -}}
{{   if $is_work -}}
{{     $work_github_url = promptStringOnce . "work_github_url" "GitHub Enterprise URL" "github.example.com" -}}
{{     $work_github_username = promptStringOnce . "work_github_username" "GitHub Enterprise Username" "username" -}}
{{   else -}}
{{     $is_syncthing = promptBoolOnce . "is_syncthing" "Installed syncthing" false -}}
{{     $is_bitwarden = promptBoolOnce . "is_bitwarden" "Installed Bitwarden CLI" false -}}
{{   end -}}
{{   if (and (not $is_work) $is_syncthing) -}}
{{     $is_syncmaildir = promptBoolOnce . "is_syncmaildir" "Use shared maildir in Syncthing" false -}}
{{   end -}}
{{   $is_pass = promptBoolOnce . "is_pass" "Installed pass" true -}}
{{   $is_autoinstall = promptBoolOnce . "is_autoinstall" "Auto install packages with administrative privileges" false -}}
{{ end -}}

{{ if (and (eq .chezmoi.os "linux") (eq .chezmoi.osRelease.id "arch")) -}}
{{   $pkginstall = "yay -S --needed --noconfirm" -}}
{{ end -}}

[data]
  email = {{ $email | quote }}
  name = {{ $name | quote }}
  role = {{ $role | quote }}
  git_gpgsign = {{ $git_gpgsign | quote }}
  ssh_gpgkey = {{ $ssh_gpgkey | quote }}
  atuin = {{ $atuin | quote }}
  is_work = {{ $is_work }}
  is_syncthing = {{ $is_syncthing }}
  is_bitwarden = {{ $is_bitwarden }}
  is_pass = {{ $is_pass }}
  is_syncmaildir = {{ $is_syncmaildir }}
  is_autoinstall = {{ $is_autoinstall }}
  is_wsl = {{ $is_wsl }}

[data.work]
  work_github_url = {{ $work_github_url | quote }}
  work_github_username = {{ $work_github_username | quote }}

[scriptEnv]
  ROLE = {{ $role | quote }}
  IS_WORK = {{ $is_work | quote }}
  IS_SYNCTHING = {{ $is_syncthing | quote }}
  IS_BITWARDEN = {{ $is_bitwarden | quote }}
  IS_PASS = {{ $is_pass | quote }}
  IS_SYNCMAILDIR = {{ $is_syncmaildir | quote }}
  IS_AUTOINSTALL = {{ $is_autoinstall | quote }}
  IS_WSL = {{ $is_wsl | quote }}
  PKGINSTALL = {{ $pkginstall | quote }}
