xterm*locale: true
xterm*faceName: DejaVuSansMono Nerd Font Mono:style=Book:antialias=true
xterm*faceSize: 9.5
xterm*borderWidth: 0
xterm*selectToClipboard: true
xterm*metaSendsEscape: true
xterm*allowWindowOps: true
XTerm*foreground: gray90
XTerm*background: black

urxvt.foreground: gray90
urxvt.background: black
urxvt.scrollBar: false

XTerm.VT100.color3: rgb:f3/dc/55
XTerm.VT100.color4: cornflowerblue
URxvt.color12: rgb:5c/5c/ff

URxvt*font: xft:DejaVuSansMono Nerd Font Mono:size=10.5,\
    xft:IPAGothic-10.5
URxvt.letterSpace: -1

URxvt.print-pipe: "cat > /dev/null"

URxvt*inheritPixmap: true
URxvt*.transparent: true
URxvt*.shading: 20
URxvt*.fading: 60

URxvt.perl-ext-common: default,matcher,clipboard,selection-to-clipboard,url-select,xim-onthespot
URxvt.inputMethod: ibus
URxvt.preeditType: OnTheSpot

URxvt.clipboard.autocopy: true
URxvt.keysym.M-c: perl:clipboard:copy
URxvt.keysym.M-v: perl:clipboard:paste

URxvt.cursorBlink:          false
URxvt.cursorUnderline:      false
{{ if eq .is_wsl false -}}
URxvt.pointerBlank:         true
{{ end -}}
URxvt.visualBell:           true
URxvt.saveLines: 10000

URxvt.url-launcher: /usr/bin/xdg-open
URxvt.matcher.button: 1
URxvt.matcher.rend.0: Uline Bold fg5
