! XTerm
XTerm*locale: true
XTerm*faceName: DejaVuSansMono Nerd Font Mono:style=Book:antialias=true
XTerm*faceSize: 9.5
XTerm*borderWidth: 0
XTerm*selectToClipboard: true
XTerm*metaSendsEscape: true
XTerm*allowWindowOps: true
XTerm*foreground: gray90
XTerm*background: black
XTerm*VT100.color3: rgb:f3/dc/55
XTerm*VT100.color4: cornflowerblue

! URxvt
!! Buffer
URxvt.saveLines: 10000
!! Bell
URxvt.visualBell: true
!! Color
URxvt.foreground: gray90
URxvt.background: black
URxvt.inheritPixmap: true
URxvt.transparent: true
URxvt.shading: 20
URxvt.fading: 60
URxvt.color12: rgb:5c/5c/ff
!! Pointer
URxvt.cursorBlink: false
URxvt.cursorUnderline: false
{{ if eq .is_wsl false -}}
URxvt.pointerBlank: true
{{ end -}}
!! Font
URxvt.font: xft:DejaVuSansMono Nerd Font Mono:size=10.5,\
            xft:IPAGothic:size=10.5
URxvt.letterSpace: -1
!! ScrollBar
URxvt.scrollBar: false
!! Disable PrintScreen
URxvt.print-pipe: "cat > /dev/null"
!! Perl Ext
URxvt.perl-ext-common: default,matcher,selection-to-clipboard,xim-onthespot,tabbedex,resize-font
!! InputMethod
URxvt.inputMethod: ibus
URxvt.preeditType: OnTheSpot
!! Open link
{{ if eq .is_wsl true -}}
URxvt.url-launcher: /usr/bin/wsl-open
{{ else -}}
URxvt.url-launcher: /usr/bin/xdg-open
{{ end -}}
URxvt.matcher.button: 1
URxvt.keysym.C-Delete: perl:matcher:last
URxvt.keysym.M-Delete: perl:matcher:list
URxvt.matcher.rend.0: Uline Bold fg5
!! Tab
URxvt.tabbedex.autohide: true
URxvt.tabbedex.tabbar-fg: 2
URxvt.tabbedex.tabbar-bg: 0
URxvt.tabbedex.tab-fg: 3
URxvt.tabbedex.tab-bg: 0
URxvt.tabbedex.new-button: false
!! Disable iso14755
URxvt.iso14755: false
URxvt.iso14755_52: false
