set $mod Mod4

set $left h
set $down j
set $up k
set $right l

include /etc/sway/config-vars.d/*

output * bg /home/yoshihisa/Sync/wallpaper/2ec475b3-173e-4ecb-b594-38bc3ca6e36a.jpg fill

output HEADLESS-1 resolution 1280x720 position 0,1080
output HEADLESS-1 bg "#708090" solid_color
workspace 0 output HEADLESS-1
bindsym $mod+0 workspace number 0
bindsym $mod+Shift+0 move container to workspace number 0

{{- if eq .chezmoi.hostname "desktop" }}
output DP-2 pos 0 330 res 2560 1440 bg /home/yoshihisa/Sync/wallpaper/b1110b46-80ad-4585-b93c-cf4c550a625e.png fill
output DP-4 pos 2560 0 res 2560 1440 transform 90 bg /home/yoshihisa/Sync/wallpaper/1a3f5385-5153-4889-879f-135bc5e97696.jpg fill

workspace 1 output DP-2
workspace 2 output DP-4
{{- end }}

gaps inner 10
gaps outer 5
default_border pixel 1

## TODO: swaylock keyboard bind

exec swayidle -w \
         timeout 300 'swaylock -f -c 000000' \
         timeout 600 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
         before-sleep 'swaylock -f -c 000000'

bindsym $mod+Return exec wezterm
bindsym $mod+Shift+q kill
set $menu wofi --show
bindsym $mod+d exec $menu
floating_modifier $mod normal
bindsym $mod+Shift+c reload
bindsym $mod+Shift+e exec swaynag -t warning -m 'You pressed the exit shortcut. Do you really want to exit sway? This will end your Wayland session.' -B 'Yes, exit sway' 'swaymsg exit'

bindsym $mod+$left focus left
bindsym $mod+$down focus down
bindsym $mod+$up focus up
bindsym $mod+$right focus right

bindsym $mod+Shift+$left move left
bindsym $mod+Shift+$down move down
bindsym $mod+Shift+$up move up
bindsym $mod+Shift+$right move right

bindsym $mod+1 workspace number 1
bindsym $mod+2 workspace number 2
bindsym $mod+3 workspace number 3
bindsym $mod+4 workspace number 4
bindsym $mod+5 workspace number 5
bindsym $mod+6 workspace number 6
bindsym $mod+7 workspace number 7
bindsym $mod+8 workspace number 8
bindsym $mod+9 workspace number 9

bindsym $mod+Shift+1 move container to workspace number 1
bindsym $mod+Shift+2 move container to workspace number 2
bindsym $mod+Shift+3 move container to workspace number 3
bindsym $mod+Shift+4 move container to workspace number 4
bindsym $mod+Shift+5 move container to workspace number 5
bindsym $mod+Shift+6 move container to workspace number 6
bindsym $mod+Shift+7 move container to workspace number 7
bindsym $mod+Shift+8 move container to workspace number 8
bindsym $mod+Shift+9 move container to workspace number 9

bindsym $mod+semicolon splith
bindsym $mod+v splitv

bindsym $mod+s layout stacking
bindsym $mod+w layout tabbed
bindsym $mod+e layout toggle split

bindsym $mod+f fullscreen
bindsym $mod+Shift+space floating toggle
# bindsym $mod+space focus mode_toggle
bindsym $mod+a focus parent

bindsym $mod+Shift+minus move scratchpad
bindsym $mod+minus scratchpad show

mode "resize" {
    bindsym $left resize shrink width 10px
    bindsym $down resize grow height 10px
    bindsym $up resize shrink height 10px
    bindsym $right resize grow width 10px

    bindsym Return mode "default"
    bindsym Escape mode "default"
}
bindsym $mod+r mode "resize"

bar {
    swaybar_command waybar
}

include /etc/sway/config.d/*

for_window [window_role = "pop-up"] floating enable
for_window [window_role = "bubble"] floating enable
for_window [window_role = "dialog"] floating enable
for_window [window_type = "dialog"] floating enable
for_window [window_role = "task_dialog"] floating enable
for_window [window_type = "menu"] floating enable
for_window [app_id = "floating"] floating enable
for_window [app_id = "floating_update"] floating enable, resize set width 1000px height 600px
for_window [class = "(?i)pinentry"] floating enable
for_window [title = "Administrator privileges required"] floating enable
for_window [title = "ピクチャーインピクチャー"] floating enable

for_window [class="Spotify"] move to workspace 9

bindsym XF86MonBrightnessUp exec brightnessctl set 5%+
bindsym XF86MonBrightnessDown exec brightnessctl set 5%-
bindsym XF86AudioPrev exec playerctl previous
bindsym XF86AudioPlay exec playerctl play-pause
bindsym XF86AudioNext exec playerctl next
bindsym XF86AudioMute exec pactl set-sink-mute @DEFAULT_SINK@ toggle
bindsym XF86AudioLowerVolume exec pactl set-sink-volume @DEFAULT_SINK@ -5%
bindsym XF86AudioRaiseVolume exec pactl set-sink-volume @DEFAULT_SINK@ +5%

exec --no-startup-id fcitx5 -dr
exec --no-startup-id gammastep-indicator -l 35.650583:139.540667
exec --no-startup-id blueman-applet
exec --no-startup-id nm-applet --indicator
exec --no-startup-id swaync
